# Ignore environment variables
.env

# Node modules
node_modules/

# Package lock files
package-lock.json
yarn.lock

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db
